includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: max

    excludePaths:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
