includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: max
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: argument.type
        - identifier: return.missing
        - '/Unable to resolve the template type TGroupKey in call to method Illuminate\\Support\\Collection<\(int\|string\),mixed>::groupBy\(\)/'

